.hidden{
	display: none;
} 
h1{
    display: flex;
    justify-content: center ;
}
body{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/10/732/943/the-legend-of-zelda-the-legend-of-zelda-wind-waker-link-wallpaper-preview.jpg');
    height: 710px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: black;
}
.bossImages{
    display: flex;
    justify-content:center;
    height: 500px;
}